@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    height: 100vh;
}

main {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 15px 15px;
    /* Change height to 100vh if nav isn't displayed */
    height: 90vh;
}

/* Navbar */
nav {
    background-color: aquamarine;
    height: 100px;
    position: fixed;
}

.nav-element {
    width: 33.3vw;
    text-align: center;
    padding: 15px;
}

#nav-display {
    width: 100vw;
    height: 50px;
    display: none;
    flex-direction: row;
}


.show {
    display: block;
}

/* home screen */
#home-display {
    display: block;
}

#topics-display {
    display: none;
}

#game-play-display {
    display: none;
}