@import url('https://fonts.googleapis.com/css2?family=Lilita+One&family=Roboto:wght@100&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    height: 100vh;
    width: 100vw;
}

header {
    height: 13%;
    display: flex;
}

main {
    font-family: 'Lilita One', sans-serif;
    display: flex;
    flex: 1 0 auto;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 84%;
}

footer {
    height: 3%;
    display: flex;
    background-color: #b5b9b473;
}

.hide {
    display: none;
}

.background-img {
    height: 100vh;
    width: 100vw;
    position: fixed;
    z-index: -400;
    opacity: 0.2;
    top: 0;
    background-size:cover;
}

button {
    width: 150px;
    margin: 10px;
    padding: 5px;
    font-size: 20px;
    border-radius: 5%;
    border-width: 3px;
    border-color: #d3d3d338;
    background-color: #76ba70;
    color: #ffffff;
}

.button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}
button:hover {
    background-color: #0e3312;
    transition-duration: 1s;
}
button:disabled {
    background-color: #0e331254;
    border-color: #eeeed7;
}

dialog {
    margin: auto;
    height: 60%;
    width: 60%;
}

h2 {
    padding: 10px;
    font-size: 40px;
}

/* --------------------- Navbar --------------------- */
#nav-display{
    position: fixed;
    width: 100%;
    flex-direction: row;
    background-color: #b5b9b473;
}

.nav-element {
    display: flex;
    width: 33%;
    text-align: center;
    font-family: 'Lilita One', sans-serif !important;
    font-size: 50px;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    letter-spacing: 4px;
    color: #0e3312;
}

.nav-element img {
    max-width: 200px;
}


#nav-menu {
    color: #c95e00;
    font-size: 40px;
    transition: color 0.5s;
}

#nav-menu:hover {
    color: #76ba70;
}

#nav-title {
    transition: color 0.5s;
}

#nav-title:hover {
    color: #76ba70;
}



/* --------------------- home display --------------------- */

#home-display {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

#home-img {
    background-image: url(https://images.unsplash.com/photo-1457369804613-52c61a468e7d?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1770&q=80);
}

#main-logo{
    max-width: 400px;
}

#welcome-message {
    padding-top: 5%;
    width: 60%;
}

#home-buttons {
    display: inline;
    margin-top: 40px;
}


/* --------------------- Topic display --------------------- */
#topic-img {
    background-image: url(https://images.unsplash.com/photo-1516979187457-637abb4f9353?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA==&auto=format&fit=crop&w=1770&q=80);
}

#topics-display {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    width: 100%;
}

#topic-container {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    padding-top: 8%;
    align-items: center;
}

#topic-select {
    background-color: #76ba70;
    height: 60%;
    width: 70%;
    background-color: #b5b9b473;
    border-radius: 5%;
    padding: 20px;
    overflow-y: hidden;
}

label {
    display: inline-flex;
    width: 150px;
    height: 100px !important;
    margin: 10px;
    background-color: #c95e00;
    padding: 15px;
    align-items: center;
    border-radius: 10%;
    color: white;
}

label:hover {
    background-color: #0e3312;
    color: white;
    transition-duration: 0.5s;

}

input[type="radio"] {
    display: none;
}

/* --------------------- Game display --------------------- */

#game-play-display {
    height: 100%;
    width: 60%;
    display: none;
    flex-direction: column;
    padding: 20px;
}

#game-info {
    display: inline;
}

#current-score {
    float: left;
}

#topic-display {
    float: right;
}

#guess-input-container {
    padding: 10px;
    text-align: center;
}

#picture-container {
    height: 200px;
    width: 200px;
    margin: auto;
}

#changing-picture {
    position: relative;
    height: 100%;
}

#word-display {
    height: 8vh;
    padding-top: 5%;
}

#guessed-box {
    width: 100%;
    height: 180px;
    border: solid black 1px;
    padding: 10px;
}

.incorrect-letter {
    letter-spacing: 15px;
}

#guessed-letter-container {
    padding: 10px;
    width: 100%;
    height: 60%;
    margin: auto;
}

.letter {
    width: 33%;
    height: 50%;
    margin: auto;
    padding-top: 10%
}

#remaining-guesses, #remaining-guesses-count {
    margin: 0;
    text-align: center;
    bottom: 10px;
}

#next {
    margin: 0
}

